* {
	font-family: Times;
	background-color: #001399;
}

h1 { 
	color: #C27613;
}

h2 {
	color: black;
	text-align: center;
	background-color: #A67D29;
}

h4 {
	color: black;
	margin-left: 20px;
	background-color: #A67D29;
}

p {
	margin-left: 30px
}

a {
	color: #001399;
	background-color: gray;
}

a:hover {
	font-weight: bold;
	text-decoration: none;
}

#header {
	font-family: Garamond
}

#side-bar {
	position: fixed;
	float: left;
	float: top;
	height: auto;
	width: 70px;
	border: 1px;
	border-radius: 8px;
	display: block;
	background-color: gray;
	padding: 5px;
	text-align: center
}

#post {
	height: auto;
	border: 1px;
	border-radius: 4px;
	margin-left: 85px;
	/*margin-right: 10px;*/
	padding: 10px;
	padding-right: 5px;
	background-color: #A67D29;
}

.code {
	font-family: Courier;
	background-color: gray;
}

p {
	background-color: #A67D29;
}